.App {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.wrapper .poke-item {
  width: 150px;
  height: 150px;
  color: #FFF;
  background-color: #333;
  margin: 16px;
}